.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 18px;

  @include media-tablet {
    padding-top: 31px;
    padding-bottom: 31px;
  }

  @include media-desctop {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.page-header__phone {
  text-decoration: none;
  color: $basewhite;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;

  @include media-tablet {
    font-size: 24px;
    line-height: 24px;
  }

  @include media-desctop {
    font-size: 26px;
    line-height: 26px;
  }
}

.page-header__logo-wrapper img {
  display: block;
}
